.button-text{
	border-bottom: 1px solid var(--button-text);

}
.form-submit--button {
	background-color: transparent;
	border: none;
}

.form-submit--button:hover {
	border: none;
}

.form-submit--button>div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
	background-color: red;
	width: 50%;
	padding: 0.4rem 0.4rem;
	color: red;
	font-size: var(--font-siz-small);
	background-color: var(--lime);
	border-radius: 1.5rem;


}

.form-submit--button>div:hover {
	background-color: var(--lime-hover);
	transition: background 0.3s;

}

@media screen and (max-width: 1020px) {
	.form-submit--button>div {
		width: 100%;
	}
		.form-submit--button>div {
			padding: 1rem 0.7rem;
		}
}