.form-input-label {
	width: max-content;
	color: var(--Slate-700);
	font-size: var(--font-siz-small);
	font-family: var(--font-family);
}

.form-input-class {
	width: 100%;
	padding-left: 13%;
	height: 2rem;
	border-radius: 0.2rem;
	border: 1px solid var(--Slate-700);
	outline: none;
}
.form-input-class.right {
	padding-left: 1%;
}

@media screen and (max-width: 430px) {
	.form-input-class {
		height: 3rem;
	}
}
